.modal-body label {
    font-size: 16px;
    color: #000;
}
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed #8D3BFF;
  border-radius: 3px;
  transition: 0.2s;
  &.is-active {
    background-color: #8D3BFF;
  }
}

.fake-btn {
  flex-shrink: 0;
  background-color: #8D3BFF;
  border: 1px solid #8D3BFF;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color:#FFF;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}